
/* Dogs
  --------------------------------------------- */

#park {
	.content {
		#boston {
			left: 400px;
			top: 680px;
			width: 200px;

			@media (max-width: 1280px) {
				left: 300px;
				top: 550px;
			}
		}

		#bulldog {
			left: 1000px;
			top: 640px;
			width: 200px;

			@media (max-width: 1280px) {
				left: 800px;
				top: 500px;
			}
		}

		#chiuhaha {
			left: 710px;
			top: 680px;
			width: 200px;

			@media (max-width: 1280px) {
				left: 550px;
				top: 550px;
			}
		}

		#frenchie {
			left: 1150px;
			top: 500px;
			width: 200px;

			@media (max-width: 1280px) {
				left: 1050px;
			}
		}

		#poodle {
			left: 1450px;
			top: 500px;
			width: 200px;

			@media (max-width: 1280px) {
				left: 1200px;
				top: 400px;
			}
		}

		#pug {
			left: 50px;
			top: 630px;
			width: 240px;

			@media (max-width: 1280px) {
				top: 400px;
			}
		}
	}
}